<form>
  <div class="row">
    <div class="mb-3">
      <label for="nome" class="active">Nome</label>
      <input id="nome"  [(ngModel)]= "aluno.nome" class="form-control">
    </div>
    <div class="mb-3">
      <label for="idade" class="active">Idade</label>
      <input id="idade" [(ngModel)]= "aluno.idade" class="form-control"  >
    </div>
    <div class="mb-3">
      <label for="email" class="active">Email</label>
      <input id="email" [(ngModel)]= "aluno.email" class="form-control"  >
    </div>
  </div>
</form>
