<ul class="nav nav.pills bg-dark">
  <li class="nav-item">
    <a routerLink="" class="nav-link active" aria-current="page"> Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link" >Login</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" routerLink="/cursos" class="nav-link" >Cursos</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" routerLink="/alunos" class="nav-link" >Alunos</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
<br>


